.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
.container {
  margin: auto;
  width: 900px;
  color: white;
  display: block;
}

.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}
